[submodule "Bash/Completion/complete-alias"]
	path = Bash/Completion/complete-alias
	url = https://github.com/cykerway/complete-alias
[submodule "gnome-wallpaper"]
	path = Gnome/gnome-wallpaper
	url = https://gist.github.com/mschmitt/5fbbe043ba0f0e1f39ea517f1aae85ab
[submodule "Bash/Colors/LS_COLORS"]
	path = Bash/Colors/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule "Dracula/midnight-commander"]
	path = Dracula/midnight-commander
	url = https://github.com/dracula/midnight-commander.git
[submodule "Dracula/xresources"]
	path = Dracula/xresources
	url = https://github.com/dracula/xresources.git
[submodule "Dracula/vim"]
	path = Dracula/vim
	url = https://github.com/dracula/vim.git
[submodule "Dracula/gnome-terminal"]
	path = Dracula/gnome-terminal
	url = https://github.com/dracula/gnome-terminal.git
[submodule "putty"]
	path = Dracula/putty
	url = https://github.com/dracula/putty.git
